.container{
    color: white;
    text-align: center;
    
}
body{
    background-color: darkgoldenrod;

}
.rr{
    margin: 100px;
    width:fit-content;
    height:fit-content;
}
.nn{
    background-color: greenyellow;
    
}

.cont{
    margin: 10px;
max-width: 700px;
height: 1000px;
background-color:white;
background-blend-mode:lighten;
text-align: center;
border-radius: 20px;
font-style: italic;


}
.q,qq,qqq,p,pp,ppp,oo,ii,no,yes{
    
}
